*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-0 {
  left: 0;
}
.left-5 {
  left: 1.25rem;
}
.top-0 {
  top: 0;
}
.top-5 {
  top: 1.25rem;
}
.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-40 {
  z-index: 40;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.h-1\/6 {
  height: 16.666667%;
}
.h-10 {
  height: 2.5rem;
}
.h-6 {
  height: 1.5rem;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[400px\] {
  height: 400px;
}
.h-\[50px\] {
  height: 50px;
}
.h-\[550px\] {
  height: 550px;
}
.h-\[580px\] {
  height: 580px;
}
.h-\[60px\] {
  height: 60px;
}
.h-\[70px\] {
  height: 70px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-px {
  height: 1px;
}
.h-screen {
  height: 100vh;
}
.max-h-\[450px\] {
  max-height: 450px;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/4 {
  width: 25%;
}
.w-1\/5 {
  width: 20%;
}
.w-1\/6 {
  width: 16.666667%;
}
.w-10 {
  width: 2.5rem;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-3\/4 {
  width: 75%;
}
.w-3\/5 {
  width: 60%;
}
.w-4\/6 {
  width: 66.666667%;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-\[1180px\] {
  width: 1180px;
}
.w-\[18px\] {
  width: 18px;
}
.w-\[200px\] {
  width: 200px;
}
.w-\[250px\] {
  width: 250px;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-\[\#242424\] {
  --tw-border-opacity: 1;
  border-color: rgb(36 36 36 / var(--tw-border-opacity));
}
.border-\[\#D9D9D9\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity));
}
.border-\[\#DBBBA9\] {
  --tw-border-opacity: 1;
  border-color: rgb(219 187 169 / var(--tw-border-opacity));
}
.border-\[\#FFFFFF50\] {
  border-color: #ffffff50;
}
.border-\[\#cccccc50\] {
  border-color: #cccccc50;
}
.bg-\[\#242424\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 36 36 / var(--tw-bg-opacity));
}
.bg-\[\#444B58B2\] {
  background-color: #444b58b2;
}
.bg-\[\#444B58\] {
  --tw-bg-opacity: 1;
  background-color: rgb(68 75 88 / var(--tw-bg-opacity));
}
.bg-\[\#484283\] {
  --tw-bg-opacity: 1;
  background-color: rgb(72 66 131 / var(--tw-bg-opacity));
}
.bg-\[\#DBBBA9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(219 187 169 / var(--tw-bg-opacity));
}
.bg-\[\#F14F4F1a\] {
  background-color: #f14f4f1a;
}
.bg-\[\#F14F4F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 79 79 / var(--tw-bg-opacity));
}
.bg-\[\#F3F6F6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 246 246 / var(--tw-bg-opacity));
}
.bg-\[\#FFF4EE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 244 238 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-\[url\(\'\/Group\.svg\'\)\] {
  background-image: url("img/Group.svg");
}
.bg-\[url\(\'\/figure\.svg\'\)\] {
  background-image: url("img/figure.svg");
}
.bg-right-top {
  background-position: right top;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.p-10 {
  padding: 2.5rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-5 {
  padding: 1.25rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-\[200px\] {
  font-size: 200px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.text-\[\#24242480\] {
  color: #24242480;
}
.text-\[\#242424\] {
  --tw-text-opacity: 1;
  color: rgb(36 36 36 / var(--tw-text-opacity));
}
.text-\[\#444B58\] {
  --tw-text-opacity: 1;
  color: rgb(68 75 88 / var(--tw-text-opacity));
}
.text-\[\#B2B5BB\] {
  --tw-text-opacity: 1;
  color: rgb(178 181 187 / var(--tw-text-opacity));
}
.text-\[\#FFFFFF50\] {
  color: #ffffff50;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.duration-300 {
  transition-duration: 0.3s;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}
.checked\:bg-\[\#F14F4F\]:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(241 79 79 / var(--tw-bg-opacity));
}
.hover\:text-\[\#F14F4F\]:hover {
  --tw-text-opacity: 1;
  color: rgb(241 79 79 / var(--tw-text-opacity));
}
.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:brightness-90:hover {
  --tw-brightness: brightness(0.9);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
@media not all and (min-width: 1280px) {
  .max-xl\:w-\[500px\] {
    width: 500px;
  }
  .max-xl\:w-\[900px\] {
    width: 900px;
  }
  .max-xl\:w-full {
    width: 100%;
  }
  .max-xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .max-xl\:flex-row {
    flex-direction: row;
  }
  .max-xl\:flex-col {
    flex-direction: column;
  }
  .max-xl\:gap-5 {
    gap: 1.25rem;
  }
  .max-xl\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 1100px) {
  .max-\[1100px\]\:w-full {
    width: 100%;
  }
  .max-\[1100px\]\:flex-col {
    flex-direction: column;
  }
}
@media not all and (min-width: 1024px) {
  .max-lg\:hidden {
    display: none;
  }
  .max-lg\:w-full {
    width: 100%;
  }
  .max-lg\:w-screen {
    width: 100vw;
  }
  .max-lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 910px) {
  .max-\[910px\]\:w-full {
    width: 100%;
  }
  .max-\[910px\]\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 800px) {
  .max-\[800px\]\:hidden {
    display: none;
  }
  .max-\[800px\]\:w-full {
    width: 100%;
  }
}
@media not all and (min-width: 768px) {
  .max-md\:hidden {
    display: none;
  }
  .max-md\:w-full {
    width: 100%;
  }
  .max-md\:w-screen {
    width: 100vw;
  }
}
@media not all and (min-width: 640px) {
  .max-sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .max-sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 580px) {
  .max-\[580px\]\:max-h-\[600px\] {
    max-height: 600px;
  }
  .max-\[580px\]\:w-\[300px\] {
    width: 300px;
  }
  .max-\[580px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .max-\[580px\]\:flex-col {
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .max-\[380px\]\:w-full {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .lg\:hidden {
    display: none;
  }
}
.\[\&\>button\]\:rounded > button {
  border-radius: 0.25rem;
}
.\[\&\>button\]\:bg-\[\#F14F4F\] > button {
  --tw-bg-opacity: 1;
  background-color: rgb(241 79 79 / var(--tw-bg-opacity));
}
.\[\&\>button\]\:px-5 > button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.\[\&\>button\]\:py-2 > button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.\[\&\>button\]\:text-white > button {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.\[\&\>button\]\:transition > button {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.\[\&\>div\>div\>input\]\:h-4 > div > div > input {
  height: 1rem;
}
.\[\&\>div\>div\>input\]\:w-4 > div > div > input {
  width: 1rem;
}
.\[\&\>div\>div\>input\]\:cursor-pointer > div > div > input {
  cursor: pointer;
}
.\[\&\>div\>div\>input\]\:appearance-none > div > div > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.\[\&\>div\>div\>input\]\:border > div > div > input {
  border-width: 1px;
}
.\[\&\>div\>div\>input\]\:border-\[\#DBBBA9\] > div > div > input {
  --tw-border-opacity: 1;
  border-color: rgb(219 187 169 / var(--tw-border-opacity));
}
.\[\&\>div\>div\>input\]\:outline-none > div > div > input {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.\[\&\>div\>div\]\:flex > div > div {
  display: flex;
}
.\[\&\>div\>div\]\:items-center > div > div {
  align-items: center;
}
.\[\&\>div\>div\]\:justify-center > div > div {
  justify-content: center;
}
.\[\&\>div\>div\]\:gap-2 > div > div {
  gap: 0.5rem;
}
.\[\&\>div\>img\]\:w-full > div > img {
  width: 100%;
}
.\[\&\>div\>input\]\:h-4 > div > input {
  height: 1rem;
}
.\[\&\>div\>input\]\:w-4 > div > input {
  width: 1rem;
}
.\[\&\>div\>input\]\:cursor-pointer > div > input {
  cursor: pointer;
}
.\[\&\>div\>input\]\:rounded-full > div > input {
  border-radius: 9999px;
}
.\[\&\>div\>input\]\:border > div > input {
  border-width: 1px;
}
.\[\&\>div\>input\]\:border-\[\#DBBBA9\] > div > input {
  --tw-border-opacity: 1;
  border-color: rgb(219 187 169 / var(--tw-border-opacity));
}
.\[\&\>div\]\:flex > div {
  display: flex;
}
.\[\&\>div\]\:h-full > div {
  height: 100%;
}
.\[\&\>div\]\:w-1\/2 > div {
  width: 50%;
}
.\[\&\>div\]\:flex-col > div {
  flex-direction: column;
}
.\[\&\>div\]\:items-center > div {
  align-items: center;
}
.\[\&\>div\]\:justify-center > div {
  justify-content: center;
}
.\[\&\>div\]\:gap-2 > div {
  gap: 0.5rem;
}
.\[\&\>input\]\:h-\[50px\] > input {
  height: 50px;
}
.\[\&\>input\]\:w-1\/2 > input {
  width: 50%;
}
.\[\&\>input\]\:w-full > input {
  width: 100%;
}
.\[\&\>input\]\:rounded > input {
  border-radius: 0.25rem;
}
.\[\&\>input\]\:border > input {
  border-width: 1px;
}
.\[\&\>input\]\:border-none > input {
  border-style: none;
}
.\[\&\>input\]\:border-\[\#DBBBA9\] > input {
  --tw-border-opacity: 1;
  border-color: rgb(219 187 169 / var(--tw-border-opacity));
}
.\[\&\>input\]\:bg-\[\#F6F6F6\] > input {
  --tw-bg-opacity: 1;
  background-color: rgb(246 246 246 / var(--tw-bg-opacity));
}
.\[\&\>input\]\:bg-transparent > input {
  background-color: transparent;
}
.\[\&\>input\]\:p-3 > input {
  padding: 0.75rem;
}
.\[\&\>input\]\:p-5 > input {
  padding: 1.25rem;
}
.\[\&\>input\]\:text-\[\#B2B5BB\] > input {
  --tw-text-opacity: 1;
  color: rgb(178 181 187 / var(--tw-text-opacity));
}
.\[\&\>input\]\:outline-none > input {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media not all and (min-width: 1280px) {
  .max-xl\:\[\&\>input\]\:w-full > input {
    width: 100%;
  }
}
.\[\&\>span\>input\]\:h-4 > span > input {
  height: 1rem;
}
.\[\&\>span\>input\]\:w-4 > span > input {
  width: 1rem;
}
.\[\&\>span\>input\]\:cursor-pointer > span > input {
  cursor: pointer;
}
.\[\&\>span\>input\]\:appearance-none > span > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.\[\&\>span\>input\]\:border > span > input {
  border-width: 1px;
}
.\[\&\>span\>input\]\:border-\[\#DBBBA9\] > span > input {
  --tw-border-opacity: 1;
  border-color: rgb(219 187 169 / var(--tw-border-opacity));
}
.\[\&\>span\]\:flex > span {
  display: flex;
}
.\[\&\>span\]\:cursor-pointer > span {
  cursor: pointer;
}
.\[\&\>span\]\:items-center > span {
  align-items: center;
}
.\[\&\>span\]\:justify-center > span {
  justify-content: center;
}
.\[\&\>span\]\:gap-2 > span {
  gap: 0.5rem;
}
.\[\&\>span\]\:transition > span {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.gridCont[data-v-6c3ba57d] {
  grid-template-areas: "a b b c" "d b b e";
}
@media (max-width: 640px) {
  .gridCont[data-v-6c3ba57d] {
    grid-template-areas: "a b b" "c b b" "d e .";
  }
}
